@model CAS.Models.UserPassword

@{
    ViewBag.Title = "EditPassWord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .content {
        max-width: 700px;
        margin: auto;
    }

    .product-sec1 {
        max-width: 800px;
        margin: auto;
    }
</style>
<div class="product-sec1 my-4">
    <div class="content px-4 py-2">
        @using (Html.BeginForm("EditPassword", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Cập nhật mật khẩu</h4>
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @if (ViewBag.FacebookAccount != true)
                {

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control" , required="required"})
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }


                <div class="form-group">
                    @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmNewPassword, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Cập nhật" class="btn btn-success btn-default" style="float:right" />
                        <a href="/thong-tin-ca-nhan" class="btn btn-primary btn-default" style="float:right">Trở về</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>