@model CAS.Models.LoginModel

@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .content{
       max-width:700px;
       margin:auto;
    }
    .product-sec1{
        max-width:800px;
        margin:auto;
    }
</style>
<div class="product-sec1 my-4">
    <div class="content px-4 py-2">
        @using (Html.BeginForm("Login", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Đăng nhập</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                        <small id="usernamehelper" class="form-text text-muted">(*)Nếu bạn đã từng đăng nhập bằng Facebook, có thể dùng email của tài khoản Facebook đó để đăng nhập</small>  
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PassWord, new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.PassWord, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Đăng nhập" class="btn btn-default" />
                        <a class="btn btn-facebook" href="/User/LoginFacebook">
                            <i class="fab fa-facebook"></i>
                            Đăng nhập với FaceBook
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

   
