@model IEnumerable<Model.EF.Order>

@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .filter {
        font-weight: bold;
        color: black
    }

    .product-sec1 {
        max-width: 100%;
        margin: auto;
    }
</style>

<div class="product-sec1 my-4">
    <div class="ads-grid py-sm-5 py-4">
        <div class="container py-xl-4 py-lg-2">
            <!-- tittle heading -->
            <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
                <span>Thông tin cá nhân</span>
            </h3>
            <!-- //tittle heading -->
            <div class="row">
                <!-- product left -->
                <div class="agileinfo-ads-display col-lg-9">
                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger">@ViewBag.Error</div>
                    }
                <table class="timetable_sub">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CreateDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ShipName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ShipMobile)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ShipAddress)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShipName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShipMobile)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShipAddress)
                            </td>
                            <td>
                                <a href="/chi-tiet-dat-hang/@item.ID">Chi tiết đơn hàng</a>
                            </td>
                        </tr>
                    }

                </table>               </div>
                <!-- product right -->
                <div class="col-lg-3 mt-lg-0 mt-4 p-lg-0">
                    <div class="side-bar p-sm-4 p-3">
                        <div class="search-hotel border-bottom py-2">
                            <h3 class="agileits-sear-head mb-3">Thông tin</h3>
                            <div class="left-side py-2">
                                <ul>
                                    <li>
                                        <a class="filter" href="/thong-tin-ca-nhan">Thông tin cá nhân</a>
                                    </li>
                                    <li>
                                        <a class="filter" href="/thong-tin-dat-hang">Thông tin đơn đặt hàng</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- price -->
                        <!-- //price -->
                    </div>
                    <!-- //product right -->
                </div>
            </div>
        </div>
    </div>
</div>