@*@model PagedList.IPagedList<Model.EF.User>
    @using PagedList.Mvc;*@


@model IEnumerable<CAS.Areas.Admin.Models.MPC_User_UserGroup>
@{
    ViewBag.Title = "Danh sách người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Danh sách người dùng
}

@section jsFooter{

    <script src="/Assets/Admin/js/Controller/userController.js"></script>
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách người dùng</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tài khoản</th>
                        <th>Tên</th>
                        <th>Loại người dùng</th>
                        <th>Địa chỉ</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Trạng thái</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Tài khoản</th>
                        <th>Tên</th>
                        <th>Loại người dùng</th>
                        <th>Địa chỉ</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Trạng thái</th>
                        <th>#</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.user.ID">
                            <td>@item.user.UserName</td>
                            <td>@item.user.Name</td>
                            <td>@item.usergroup.Name</td>
                            <td>@item.user.Address</td>
                            <td>@item.user.Email</td>
                            <td>@item.user.Phone</td>
                            <td><a href="#" class="btn-active" data-id="@item.user.ID">@(item.user.Status ? "Kích hoạt" : "Khóa")</a></td>
                            <td>
                                <a href="/Admin/User/Edit/@item.user.ID" class="btn btn-primary btn-default">Sửa</a>
                                |
                                @Ajax.ActionLink("Xóa","Delete", new {@id=item.user.ID },new AjaxOptions
                           {
                               HttpMethod = "Delete",
                               Confirm ="Bạn có muốn xóa tài khoản " + @item.user.UserName +" ?",
                               OnSuccess="RemoveRow",

                           },new { @class ="btn btn-danger"})
                                @*<a href="/Admin/User/Delete/@item.ID">Xóa</a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@
            @Html.ActionLink("Tạo tài khoản mới", "Create", "User", new { @class = "btn btn-success btn-default" })
        </div>
    </div>
</div>

<script type="text/javascript">
    function RemoveRow() {
        var $tr = $(this).closest('tr');
        $tr.remove();
    }
</script>
