@*@model PagedList.IPagedList<Model.EF.User>
    @using PagedList.Mvc;*@

@model IEnumerable<CAS.Areas.Admin.Models.MPC_ProductCat_ProductCat>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Danh sách danh mục sản phẩm
}

@section jsFooter{
    <script src="/Assets/Admin/js/Controller/productcategoryController.js"></script>
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách người dùng</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên</th>
                        <th>Metatitle</th>
                        <th>Danh mục cha</th>
                        <th>Thứ tự</th>
                        <th>Trạng thái</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Tên</th>
                        <th>Metatitle</th>
                        <th>Danh mục cha</th>
                        <th>Thứ tự</th>
                        <th>Trạng thái</th>
                        <th>#</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr id="row_@item.productCat1.ID">
                        <td>@item.productCat1.Name</td>
                        <td>@item.productCat1.MetaTitle</td>
                        <th>@(item.productCat1.ParentID.HasValue? item.productCat2.Name : "")</th>
                        <td>@item.productCat1.DisplayOrder</td>
                        <td><a href="#" class="btn-active" data-id="@item.productCat1.ID">@(item.productCat1.Status ? "Kích hoạt" : "Khóa")</a></td>
                        <td>
                            <a href="/Admin/ProductCategory/Edit/@item.productCat1.ID" class="btn btn-primary btn-default">Sửa</a>
                            |
                            @Ajax.ActionLink("Xóa","Delete", new {@id=item.productCat1.ID },new AjaxOptions
                       {
                           HttpMethod = "Delete",
                           Confirm ="Bạn có muốn xóa danh mục sản phẩm này?",
                           OnSuccess="RemoveRow",

                       },new { @class ="btn btn-danger"})
                            @*<a href="/Admin/User/Delete/@item.ID">Xóa</a>*@
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@
            @Html.ActionLink("Tạo danh mục sản phẩm mới", "Create", "ProductCategory", new { @class = "btn btn-success btn-default" })
        </div>
    </div>
</div>
<script type="text/javascript">
        function RemoveRow() {
            var $tr = $(this).closest('tr');
            $tr.remove();
        }
</script>
