@model IEnumerable<CAS.Models.MPC_Product_ProductCategory>

@{

    var listproductCat = ViewBag.listproductcategory;
    var productCat = (Model.EF.ProductCategory)ViewBag.ProductCategory;
    ViewBag.Title = productCat.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = Model;
    switch ((string)Session[Common.CommonConstants.ORDER])
    {
        case "asc":
            list = Model.OrderBy(item => item.product.Price);
            break;
        case "desc":
            list = Model.OrderByDescending(item => item.product.Price);
            break;
        case "name-asc":
            list = Model.OrderBy(item => item.product.Name);
            break;
        case "name-desc":
            list = Model.OrderByDescending(item => item.product.Name);
            break;
        case "date-asc":
            list = Model.OrderBy(item => item.product.CreateDate);
            break;
        case "date-desc":
            list = Model.OrderByDescending(item => item.product.CreateDate);
            break;
        default: break;
    }
    var link = "";
}
<style>
    .filter {
        font-weight: bold;
    }
    #sortitem {
        background: transparent;
        padding: 15px 10px;
        cursor: pointer;
    }
</style>


<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="/">Trang chủ</a>
                    <i>|</i>
                </li>
                @if (ViewBag.filter != true)
                {
                    <li>
                        @productCat.Name
                    </li>
                }
                else
                {
                    <li>
                        <a href="/danh-muc-san-pham/@productCat.MetaTitle-@productCat.ID">@productCat.Name</a>
                        <i>|</i>
                    </li>
                    <li>
                        Bộ lọc
                    </li>
                }

                <li style="float: right">
                    <select id="sortitem" name="agileinfo_search" class="border my-2" required="" onchange="javascript: handleSelected2(this)">
                        <option value="">Lọc sản phẩm</option>
                        <option value="asc">Giá: Tăng dần</option>
                        <option value="desc">Giá: Giảm dần</option>
                        <option value="name-asc">Tên: A-Z</option>
                        <option value="name-desc">Tên: Z-A</option>
                        <option value="date-asc">Sản phẩm mới nhất</option>
                        <option value="date-desc">Sản phẩm cũ nhất</option>
                    </select>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="ads-grid py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>@productCat.Name</span>
        </h3>
        <!-- //tittle heading -->
        <div class="row">
            <!-- product left -->
            <div class="agileinfo-ads-display col-lg-9">
                <div class="wrapper">
                    <!-- first section -->
                    <div class="row">
                        @if (ViewBag.total > 0)
                        {
                            foreach (var item in list)
                            {
                                var url = "/chi-tiet/" + item.product.Metatitle + "-" + item.product.ID;
                                <div class="col-md-4 product-men mt-5">
                                    <div class="men-pro-item simpleCart_shelfItem">
                                        <div class="men-thumb-item text-center">
                                            <img src="@item.product.Image" alt="@item.product.Name" style="width:200px; height: 200px;">
                                            <div class="men-cart-pro">
                                                <div class="inner-men-cart-pro">
                                                    <a href="@url" class="link-product-add-cart">Chi tiết</a>
                                                </div>
                                            </div>
                                            @*<span class="product-new-top">New</span>*@
                                        </div>
                                        <div class="item-info-product text-center border-top mt-4">
                                            <h4 class="pt-1">
                                                <a href="@url">    @(item.product.Name.Length <= 45 ? item.product.Name : item.product.Name.Substring(0, 45) + "...")</a>
                                            </h4>
                                            <div class="info-product-price my-2">

                                                @if (item.product.PromotionPrice.HasValue)
                                                {
                                                    <span class="item_price">@item.product.PromotionPrice.Value.ToString("N0")₫</span>
                                                    <del>@item.product.Price.Value.ToString("N0")₫</del>
                                                }
                                                else
                                                {
                                                    <span class="item_price">@(item.product.Price.HasValue ? item.product.Price.Value.ToString("N0") + "₫" : "Liên hệ")</span>
                                                }
                                            </div>
                                            @if (item.product.Quantity > 0)
                                            {
                                                <button class="btnAddToCart btn button2" data-id="@item.product.ID">Thêm vào giỏ hàng</button>
                                            }
                                            else
                                            {
                                                <button class="btn button2" style="background-color:red">Hết hàng</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <span class="alert alert-danger col-12 text-center">Không có sản phẩm phù hợp</span>
                        }
                    </div>
                    <!-- //first section -->
                    <!--Phân trang-->
                    @if (ViewBag.totalpage > 1)
                    {
                        int pageDisplay = (int)ViewBag.maxpage;
                        int totalpage = (int)ViewBag.totalpage;
                        int currentpage = (int)ViewBag.page;

                        var startpageindex = Math.Max(1, currentpage - pageDisplay / 2);
                        var endpageindex = Math.Min(totalpage, currentpage + pageDisplay / 2);
                        if (ViewBag.filter == true && ViewBag.onsale == false)
                        {
                            link = "/danh-muc-san-pham/" + productCat.MetaTitle + "-" + productCat.ID + "?filter=true&min=" + ViewBag.minprice + "&max=" + ViewBag.maxprice;
                        }
                        else if (ViewBag.filter == true && ViewBag.onsale == true)
                        {
                            link = "/danh-muc-san-pham/" + productCat.MetaTitle + "-" + productCat.ID + "?filter=true&onsale=" + ViewBag.onsale;
                        }
                        else
                        {
                            link = "/danh-muc-san-pham/" + productCat.MetaTitle + "-" + productCat.ID + "?filter=false";
                        }

                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-lg pt-4">
                                @if (currentpage > ViewBag.first)
                                {
                                    <li class="page-item"><a href="@link&page=@ViewBag.first" title="Trang đầu" class="page-link"><i class="fa fa-angle-double-left"></i></a></li>
                                    <li class="page-item"> <a href="@link&page=@ViewBag.prev" title="Trang trước" class="page-link"><i class="fa fa-angle-left"></i></a></li>
                                }
                                @for (int i = startpageindex; i <= endpageindex; i++)
                                {
                                    if (i == currentpage)
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#">@i</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item"><a href="@link&page=@i" class="page-link" title="Trang @i">@i</a></li>
                                    }
                                }
                                @if (currentpage < totalpage)
                                {

                                    <li class="page-item"><a href="@link&page=@ViewBag.next" class="page-link" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
                                    <li class="page-item"> <a href="@link&page=@ViewBag.last" class="page-link" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>


                                }
                            </ul>
                        </nav>
                    }
                    <!--//Phân trang-->
                </div>
            </div>
            <!-- //product left -->
            <!-- product right -->
            <div class="col-lg-3 mt-lg-0 mt-4 p-lg-0">
                <div class="side-bar p-sm-4 p-3">
                    <div class="search-hotel border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Loại</h3>
                        @*<form action="#" method="post">
                                <input type="search" placeholder="Search Brand..." name="search" required="">
                                <input type="submit" value=" ">
                            </form>*@
                        <div class="left-side py-2">
                            <ul>
                                @foreach (var item in listproductCat)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" style="color:black" href="/danh-muc-san-pham/@item.MetaTitle-@item.ID"> @item.Name</a>
                                        <span class="sr-only"></span>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- price -->
                    <div class="range border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Giá</h3>
                        <div class="w3l-range">
                            <ul>
                                @{

                                    var filter_url = "/danh-muc-san-pham/" + productCat.MetaTitle + "-" + productCat.ID;

                                    <li>
                                        <a class="filter" href="@filter_url?filter=true&min=0&max=2000000">Dưới 2 triệu</a>
                                    </li>
                                    <li class="my-1">
                                        <a class="filter" href="@filter_url?filter=true&min=2000000&max=5000000">Từ 2 - 5 triệu</a>
                                    </li>
                                    <li>
                                        <a class="filter" href="@filter_url?filter=true&min=5000000&max=10000000">Từ 5 - 10 triệu</a>
                                    </li>
                                    <li class="my-1">
                                        <a class="filter" href="@filter_url?filter=true&min=10000000&max=20000000">Từ 10 - 20 triệu</a>
                                    </li>
                                    <li>
                                        <a class="filter" href="@filter_url?filter=true&min=20000000&max=30000000">Từ 20 - 30 triệu</a>
                                    </li>
                                    <li class="mt-1">
                                        <a class="filter" href="@filter_url?filter=true&min=30000000&max=99999999999999999999999999999999999999">Trên 30 triệu</a>
                                    </li>
                                    <li>
                                        <a class="filter" href="@filter_url?filter=true&onsale=true" style="color:red;">*Đang giảm giá*</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- //price -->
                </div>
                <!-- //product right -->
            </div>
        </div>
    </div>
</div>