@model Model.EF.Product
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (Model.EF.ProductCategory)ViewBag.Category;
}

@section jsFooter{
    <script src="/Assets/Client/js/imagezoom.js"></script>
    <link rel="stylesheet" href="/Assets/Client/css/flexslider.css" type="text/css" media="screen" />
    <script src="/Assets/Client/js/jquery.flexslider.js"></script>
    <script>
        // Can also be used with $(document).ready()
       
        $(window).load( function () {
            var data = @Html.Raw(Json.Encode(ViewBag.listimage));
            var html = '';
            $.each(data, function (i, item) {
                html += '<li data-thumb="' + item + '">' +
                    '<div class="thumb-image">' +
                    '<img src="' + item + '" data-imagezoom="true" class="img-fluid" alt="">' +
                    '</div>' +
                    '</li>'
            });
            $('#imageList').html(html);
        });
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
}

<!-- page -->
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="/">Trang chủ</a>
                    <i>|</i>
                </li>
                <li>
                    <a href="/danh-muc-san-pham/@category.MetaTitle-@category.ID">@category.Name</a>
                    <i>|</i>
                </li>
                <li>
                    @Model.Name
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- //page -->
<div class="banner-bootom-w3-agileits py-5">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>T</span>hông
            <span>T</span>in
            <span>S</span>ản
            <span>P</span>hẩm
        </h3>
        <!-- //tittle heading -->
        <div class="row">
            <div class="col-lg-5 col-md-8 single-right-left ">
                <div class="grid images_3_of_2">
                    <div class="flexslider">
                        <ul class="slides" id="imageList">
                            @*<li data-thumb="/Data//Assets/Client/images/RKyaEDwp8J7JKeZWQPuOVWvkUjGQfpCx_cover_580.jpg">
                                <div class="thumb-image">
                                    <img src="/Data//Assets/Client/images/RKyaEDwp8J7JKeZWQPuOVWvkUjGQfpCx_cover_580.jpg" data-imagezoom="true" class="img-fluid" alt="">
                                </div>
                            </li>*@
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 single-right-left simpleCart_shelfItem">
                <h3 class="mb-3">@Model.Name</h3>
                <p class="mb-3">
                    @if (@Model.PromotionPrice.HasValue)
                    {
                        <span class="item_price">@Model.PromotionPrice.Value.ToString("N0")</span>
                        <del class="mx-2 font-weight-light">@Model.Price.Value.ToString("N0")</del>
                    }
                    else
                    {
                        <span class="item_price">@Model.Price.Value.ToString("N0")</span>
                    }


                    <label>Giao hàng miễn phí</label>
                </p>
                <div class="single-infoagile">
                    <ul>
                        <li class="mb-3">
                            Thanh toán khi nhận hàng
                        </li>
                        <li class="mb-3">
                            Giao hàng tốc độ
                        </li>
                        <li class="mb-3">
                            Hoàn tiền lên đến 10% khi thanh toán qua VNPay
                        </li>
                    </ul>
                </div>
                <div class="product-single-w3l">
                    <p class="my-3">
                        <i class="far fa-hand-point-right mr-2"></i>
                        <label>@Model.Warranty</label>&nbsp; tháng bảo hành
                    </p>
                    <ul>
                        @Model.Descriptions
                        @Html.Raw(Model.Detail)
                    </ul>
                    <p class="my-sm-4 my-3">
                        <i class="fas fa-retweet mr-3"></i>Các cổng thanh toán: thẻ ATM / ngân lượng / ....
                    </p>
                </div>
                <div class="occasion-cart">
                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                        <form action="#" method="post">
                            <fieldset>
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="business" value=" " />
                                <input type="hidden" name="item_name" value="@Model.Name" />
                                @if (Model.PromotionPrice.HasValue)
                                {
                                    <input type="hidden" name="amount" value=@Model.PromotionPrice />
                                }
                                else
                                {
                                    <input type="hidden" name="amount" value=@Model.Price />
                                }
                                <input type="hidden" name="discount_amount" value="0.00" />
                                <input type="hidden" name="currency_code" value="VND" />
                                <input type="hidden" name="return" value=" " />
                                <input type="hidden" name="cancel_return" value=" " />
                                <a class="button2" href="/them-gio-hang?productID=@Model.ID&quantity=1">Thêm vào giỏ</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

