@model IEnumerable<Model.EF.Product>

@{
    ViewBag.Title = "Kết quả tìm kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = Model;
    switch ((string)Session[Common.CommonConstants.ORDER])
    {
        case "asc":
            list = Model.OrderBy(item => item.Price);
            break;
        case "desc":
            list = Model.OrderByDescending(item => item.Price);
            break;
        case "name-asc":
            list = Model.OrderBy(item => item.Name);
            break;
        case "name-desc":
            list = Model.OrderByDescending(item => item.Name);
            break;
        default: break;
    }
}
<style>
    #sortitem {
        background: transparent;
        padding: 15px 10px;
        cursor: pointer;
    }
</style>
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="/">Trang chủ</a>
                    <i>|</i>
                </li>
                <li>
                    Tìm kiếm: @ViewBag.keyword
                </li>
                <li style="float: right">
                    <select id="sortitem" name="agileinfo_search" class="border my-2" required="" onchange="javascript: handleSelected2(this)">
                        <option value="">Lọc sản phẩm</option>
                        <option value="asc">Giá: Tăng dần</option>
                        <option value="desc">Giá: Giảm dần</option>
                        <option value="name-asc">Tên: A-Z</option>
                        <option value="name-desc">Tên: Z-A</option>
                    </select>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


<div class="ads-grid py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>@ViewBag.keyword</span>
        </h3>
        <!-- //tittle heading -->
        <!-- product left -->
        <div class="agileinfo-ads-display col-lg-12">
            <div class="wrapper">
                <!-- first section -->
                <div class="row">
                    @foreach (var item in list)
                    {
                        var url = "/chi-tiet/" + item.Metatitle + "-" + item.ID;
                        <div class="col-md-4 product-men mt-5">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item text-center">
                                    <img src="@item.Image" alt="@item.Name" style="width:194px; height: auto;">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a href="@url" class="link-product-add-cart">Chi tiết</a>
                                        </div>
                                    </div>
                                    @*<span class="product-new-top">New</span>*@
                                </div>
                                <div class="item-info-product text-center border-top mt-4">
                                    <h4 class="pt-1">
                                        <a href="single.html">@item.Name</a>
                                    </h4>
                                    <div class="info-product-price my-2">

                                        @if (item.PromotionPrice.HasValue)
                                        {
                                            <span class="item_price">@item.PromotionPrice.Value.ToString("N0")</span>
                                            <del>@item.Price.Value.ToString("N0")</del>
                                        }
                                        else
                                        {
                                            <span class="item_price">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span>
                                        }
                                    </div>
                                    @if (item.Quantity > 0)
                                    {
                                        <button class="btnAddToCart btn button2" data-id="@item.ID">Thêm vào giỏ hàng</button>
                                    }
                                    else
                                    {
                                        <button class="btn button2" style="background-color:red">Hết hàng</button>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <!-- //first section -->
                <!--Phân trang-->
                @if (ViewBag.totalpage > 1)
                {
                    int pageDisplay = (int)ViewBag.maxpage;
                    int totalpage = (int)ViewBag.totalpage;
                    int currentpage = (int)ViewBag.page;

                    var startpageindex = Math.Max(1, currentpage - pageDisplay / 2);
                    var endpageindex = Math.Min(totalpage, currentpage + pageDisplay / 2);

                    var link = "/tim-kiem?keyword=" + ViewBag.keyword;
                    <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-lg pt-4">
                            @if (currentpage > ViewBag.first)
                            {
                                <li class="page-item"><a href="@link&page=@ViewBag.first" title="Trang đầu" class="page-link"><i class="fa fa-angle-double-left"></i></a></li>
                                <li class="page-item"> <a href="@link&page=@ViewBag.prev" title="Trang trước" class="page-link"><i class="fa fa-angle-left"></i></a></li>
                            }
                            @for (int i = startpageindex; i <= endpageindex; i++)
                            {
                                if (i == currentpage)
                                {
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">@i</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item"><a href="@link&page=@i" class="page-link" title="Trang @i">@i</a></li>
                                }

                            }
                            @if (currentpage < totalpage)
                            {
                                <li class="page-item"><a href="@link&page=@ViewBag.next" class="page-link" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
                                <li class="page-item"> <a href="@link&page=@ViewBag.last" class="page-link" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>
                            }
                        </ul>
                    </nav>
                }
                else
                {

                }
                <!--//Phân trang-->
            </div>
        </div>
    </div>
</div>
