@model IEnumerable<Model.EF.Product>

@{
    ViewBag.Title = "Kết quả tìm kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="/">Trang chủ</a>
                    <i>|</i>
                </li>
                <li>
                    Tìm kiếm: @ViewBag.keyword
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="ads-grid py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>@ViewBag.keyword</span>
        </h3>
        <!-- //tittle heading -->
        <div class="row">
            <!-- product left -->
            <div class="agileinfo-ads-display col-lg-9">
                <div class="wrapper">
                    <!-- first section -->
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            var url = "/chi-tiet/" + item.Metatitle + "-" + item.ID;
                            <div class="col-md-4 product-men mt-5">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item text-center">
                                        <img src="@item.Image" alt="@item.Name" style="width:194px; height: auto;">
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro">
                                                <a href="@url" class="link-product-add-cart">Chi tiết</a>
                                            </div>
                                        </div>
                                        @*<span class="product-new-top">New</span>*@
                                    </div>
                                    <div class="item-info-product text-center border-top mt-4">
                                        <h4 class="pt-1">
                                            <a href="single.html">@item.Name</a>
                                        </h4>
                                        <div class="info-product-price my-2">

                                            @if (item.PromotionPrice.HasValue)
                                            {
                                                <span class="item_price">@item.PromotionPrice.Value.ToString("N0")</span>
                                                <del>@item.Price.Value.ToString("N0")</del>
                                            }
                                            else
                                            {
                                                <span class="item_price">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span>
                                            }
                                        </div>
                                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                            <form action="#" method="post">
                                                <fieldset>
                                                    <input type="hidden" name="cmd" value="_cart" />
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="business" value=" " />
                                                    <input type="hidden" name="item_name" value="@item.Name" />
                                                    @if (item.PromotionPrice.HasValue)
                                                    {
                                                        <input type="hidden" name="amount" value=@item.PromotionPrice />
                                                    }
                                                    else
                                                    {
                                                        <input type="hidden" name="amount" value=@item.Price />
                                                    }
                                                    <input type="hidden" name="discount_amount" value="0.00" />
                                                    <input type="hidden" name="currency_code" value="VND" />
                                                    <input type="hidden" name="return" value=" " />
                                                    <input type="hidden" name="cancel_return" value=" " />
                                                    <input type="submit" name="submit" value="Thêm vào giỏ" class="button btn" />
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <!-- //first section -->
                    <!--Phân trang-->
                    @if (ViewBag.totalpage > 1)
                    {
                        int pageDisplay = (int)ViewBag.maxpage;
                        int totalpage = (int)ViewBag.totalpage;
                        int currentpage = (int)ViewBag.page;

                        var startpageindex = Math.Max(1, currentpage - pageDisplay / 2);
                        var endpageindex = Math.Min(totalpage, currentpage + pageDisplay / 2);

                        var link = "/tim-kiem?keyword=" + ViewBag.keyword;
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-lg pt-4">
                                @if (currentpage > ViewBag.first)
                                {
                                    <li class="page-item"><a href="@link&page=@ViewBag.first" title="Trang đầu" class="page-link"><i class="fa fa-angle-double-left"></i></a></li>
                                    <li class="page-item"> <a href="@link&page=@ViewBag.prev" title="Trang trước" class="page-link"><i class="fa fa-angle-left"></i></a></li>
                                }
                                @for (int i = startpageindex; i <= endpageindex; i++)
                                {
                                    if (i == currentpage)
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#">@i</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item"><a href="@link&page=@i" class="page-link" title="Trang @i">@i</a></li>
                                    }

                                }
                                @if (currentpage < totalpage)
                                {
                                    <li class="page-item"><a href="@link&page=@ViewBag.next" class="page-link" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
                                    <li class="page-item"> <a href="@link&page=@ViewBag.last" class="page-link" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>
                                }
                            </ul>
                        </nav>
                    }
                    else
                    {

                    }
                    <!--//Phân trang-->
                </div>
            </div>
            <!-- //product left -->
            <!-- product right -->
            @*<div class="col-lg-3 mt-lg-0 mt-4 p-lg-0">
                <div class="side-bar p-sm-4 p-3">
                    <div class="search-hotel border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Brand</h3>
                        <form action="#" method="post">
                            <input type="search" placeholder="Search Brand..." name="search" required="">
                            <input type="submit" value=" ">
                        </form>
                        <div class="left-side py-2">
                            <ul>
                                @foreach (var item in listproductCat)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" style="color:black" href="/san-pham/@item.MetaTitle-@item.ID"> @item.Name</a>
                                        <span class="sr-only"></span>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- price -->
                    <div class="range border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Price</h3>
                        <div class="w3l-range">
                            <ul>
                                <li>
                                    <a href="#">Under $1,000</a>
                                </li>
                                <li class="my-1">
                                    <a href="#">$1,000 - $5,000</a>
                                </li>
                                <li>
                                    <a href="#">$5,000 - $10,000</a>
                                </li>
                                <li class="my-1">
                                    <a href="#">$10,000 - $20,000</a>
                                </li>
                                <li>
                                    <a href="#">$20,000 $30,000</a>
                                </li>
                                <li class="mt-1">
                                    <a href="#">Over $30,000</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- //price -->
                </div>*@
                <!-- //product right -->
            </div>
        </div>
    </div>
</div>